<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Projektaufgabe Geosoft 2022</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%
        // get current active page
        var home = "";
        var create = "";
        var edit = "";
        var navigation = "";
        var impressum = "";
        switch(title){
          case "Home":
            home = "active";
            break;
          case "Create":
            create = "active";
            break;
          case "Edit":
            edit = "active";
            break;
          case "Navigation":
            edit = "active";
            break;
          case "Impressum":
            edit = "active";
            break;
        }
        %>

        <li class="nav-item">
          <a class="nav-link <%- home %>" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- create %>" aria-current="page" href="/create">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- edit %>" aria-current="page" href="/edit">Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- navigation %>" aria-current="page" href="/navigation">Navigation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%- impressum %>" aria-current="page" href="/impressum">Impressum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
